SSW.Website.WebUI/NetToolkitWebService/UnitTest/Web References/VersionCheckerWebService/VersionChecker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLatestVersionAndUpdateUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestVersionAndUpdateUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestVersionAndUpdateUrlResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLatestVersionAndUpdateUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestVersionAndUpdateUrl" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionAndUpdateUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestVersionAndUpdateUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="DownloadTableSoap">
    <wsdl:operation name="GetLatestVersionAndUpdateUrl">
      <wsdl:input message="tns:GetLatestVersionAndUpdateUrlSoapIn" />
      <wsdl:output message="tns:GetLatestVersionAndUpdateUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DownloadTableSoap" type="tns:DownloadTableSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestVersionAndUpdateUrl">
      <soap:operation soapAction="http://tempuri.org/GetLatestVersionAndUpdateUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DownloadTableSoap12" type="tns:DownloadTableSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestVersionAndUpdateUrl">
      <soap12:operation soapAction="http://tempuri.org/GetLatestVersionAndUpdateUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DownloadTable">
    <wsdl:port name="DownloadTableSoap" binding="tns:DownloadTableSoap">
      <soap:address location="http://localhost:2359/SSW.NetToolkit.WebService/VersionChecker.asmx" />
    </wsdl:port>
    <wsdl:port name="DownloadTableSoap12" binding="tns:DownloadTableSoap12">
      <soap12:address location="http://localhost:2359/SSW.NetToolkit.WebService/VersionChecker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>