SSW.Website.WebUI/Web References/SSWWebServiceSubscribers/subscribers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/MembershipStats/Subscribers" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/MembershipStats/Subscribers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/MembershipStats/Subscribers">
      <s:element name="TotalSubscribers">
        <s:complexType />
      </s:element>
      <s:element name="TotalSubscribersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TotalSubscribersResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveNewsletterEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pageName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveNewsletterEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveNewsletterEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TotalSubscribersSoapIn">
    <wsdl:part name="parameters" element="tns:TotalSubscribers" />
  </wsdl:message>
  <wsdl:message name="TotalSubscribersSoapOut">
    <wsdl:part name="parameters" element="tns:TotalSubscribersResponse" />
  </wsdl:message>
  <wsdl:message name="SaveNewsletterEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SaveNewsletterEmail" />
  </wsdl:message>
  <wsdl:message name="SaveNewsletterEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SaveNewsletterEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="SubscribersSoap">
    <wsdl:operation name="TotalSubscribers">
      <wsdl:input message="tns:TotalSubscribersSoapIn" />
      <wsdl:output message="tns:TotalSubscribersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveNewsletterEmail">
      <wsdl:input message="tns:SaveNewsletterEmailSoapIn" />
      <wsdl:output message="tns:SaveNewsletterEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscribersSoap" type="tns:SubscribersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TotalSubscribers">
      <soap:operation soapAction="http://tempuri.org/MembershipStats/Subscribers/TotalSubscribers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewsletterEmail">
      <soap:operation soapAction="http://tempuri.org/MembershipStats/Subscribers/SaveNewsletterEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscribersSoap12" type="tns:SubscribersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TotalSubscribers">
      <soap12:operation soapAction="http://tempuri.org/MembershipStats/Subscribers/TotalSubscribers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewsletterEmail">
      <soap12:operation soapAction="http://tempuri.org/MembershipStats/Subscribers/SaveNewsletterEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Subscribers">
    <wsdl:port name="SubscribersSoap" binding="tns:SubscribersSoap">
      <soap:address location="http://webservices.internal.ssw.com.au/membershipstats/subscribers.asmx" />
    </wsdl:port>
    <wsdl:port name="SubscribersSoap12" binding="tns:SubscribersSoap12">
      <soap12:address location="http://webservices.internal.ssw.com.au/membershipstats/subscribers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>